.card{
    border: 1px solid black;
    width: 10%;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 0 10px 2px black;
    border: 1px solid black;
    box-shadow: 0 0 10px 2px black;
}